html {
  min-height: 100%;
}

body {
    background-color: rgb(235, 141, 202)
}

nav {
    background-color:rgb(210, 254, 13)
    ;
}

head {
    text-decoration: dotted;
    color: crimson;

}

header {
    background-color:rgb(150, 108, 179)
}

h1 {
  text-align: center;
  color:blueviolet;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

td {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(255, 238, 80);}

ul.a {
  list-style-type: circle;
  text-align: center;
}
ol.c {
  list-style-type: upper-roman;
  text-align: center;
}
ul {
  list-style-image: url('sqpurple.gif');
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}